.tableContainer {
   width: 100%;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
}

.responsiveTable li {
   border-radius: 3px;
   padding: 25px 30px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
   text-align: center;
   align-items: baseline;
}

.responsiveTable .tableHeader {
   background-color: #95A5A6;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 0.03em;
}

.responsiveTable .tableRow {
   background-color: #ffffff;
   box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsiveTable .col1 {
   flex: 0 1 50%
}

.responsiveTable .col2 {
   flex: 0 1 25%
}

.responsiveTable .col3 {
   flex: 0 1 25%
}

.itemLink {
   color: cornflowerblue !important;
   text-decoration: underline !important;
   font-size: 22px;
}

.itemLink:hover {
   color: #fff !important;
}

.tableRow>.col1:hover {
   background: #0000004a;
   color: #fff;
}

.buttonSort {
   margin-left: 5px;
   font-size: 25px;
   font-weight: 700;
   border: none;
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

.buttonSort:hover {
   cursor: pointer;
   background: #666060;
}

@media all and (max-width: 767px) {
   .responsiveTable .tableHeader {
      display: none;
   }

   .responsiveTable li {
      display: block;
   }

   .responsiveTable .col {
      flex-basis: 100%;
   }

   .responsiveTable .col {
      display: flex;
      padding: 10px 0;
   }

   .responsiveTable .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
   }
}