.Wrap {
   padding: 40px;
}

.WrapContainer {
   display: flex;
   flex-wrap: wrap;
}

.WrapHeader {
   display: flex;
   align-items: center;
   margin-bottom: 40px;
   justify-content: space-between;
}

.SearchBlock {
   border: 1px solid #f2f2f2;
   border-radius: 10px;
   padding: 0 15px;
   position: relative;
}

.SearchBlock input {
   border: 0;
   cursor: pointer;
   padding: 13px;
   font-size: 16px;
   width: 300px;
}

.SearchBlock .Clear {
   position: absolute;
   right: 15px;
   width: 18px;
   height: 18px;
   top: 14px;
   cursor: pointer;
}